
/* 개발영역에서 필요한 기본 CSS (반드시 있어야함) */
.error           { color: #2E68FF !important; } /* form validation error message */
.app-w40         { width: 40px !important;}
.app-w50         { width: 50px !important;}
.app-w60         { width: 60px !important;}
.app-w65         { width: 65px !important;}
.app-w70         { width: 70px !important;}
.app-w80         { width: 80px !important;}
.app-w100        { width:100px !important;}
.app-w200        { width:200px !important;}
.app-w300        { width:300px !important;}
.app-w700        { width:700px !important;}
.app-w120        { width:120px !important;}
.app-h100        { height: 100px; }
.app-h200        { height: 200px; }
.app-m3          { margin-left:3px !important; margin-right:3px !important; }
.app-ml3         { margin-left:3px !important; }
.app-ml4         { margin-left:4px !important; }
.app-mr3         { margin-right:3px !important; }
.app-mr10        { margin-right:10px !important; }
.app-ml30        { margin-left: 30px !important; }
.app-mt10        { margin-top: 10px !important; }
.app-p0          { padding:0 !important; }
.app-p5          { padding:5px !important; }
.app-p10         { padding:10px !important; }
.app-p50         { padding:50px !important; }
.app-ph10        { padding-top:10px !important; padding-bottom:10px !important; }
.app-ph20        { padding-top:20px !important; padding-bottom:20px !important; }
.app-ph50        { padding-top:50px !important; padding-bottom:50px !important; }
.app-pt10        { padding-top:10px !important; }
.app-pt20        { padding-top:20px !important; }
.app-pb10        { padding-bottom:10px !important; }
.app-pb20        { padding-bottom:20px !important; }
.app-ps10        { padding-left:10px !important; padding-right:10px !important; }
.app-pl0         { padding-left:0 !important; }
.app-pl10        { padding-left:10px !important; }
.app-pr10        { padding-right:10px !important; }
.app-space05     { height: 5px; }
.app-space10     { height: 10px; }
.app-space15     { height: 15px; }
.app-space20     { height: 20px; }
.app-space25     { height: 25px; }
.app-space40     { height: 40px; }
.app-space50     { height: 50px; }

.app-l           { text-align: left !important; }
.app-r           { text-align: right !important; }
.app-c           { text-align: center !important; }
.app-left        { float:left; }
.app-right       { float:right; }
.app-both        { clear:both; }
.app-gray        { color:gray; }
.app-blue        { color:#2E68FF;}

.app-lh35        { line-height: 35px; }
.app-display     { display: block; }
.app-display.off { display: none; }
.app-scroll      { overflow: auto; }
.app-display-off { display: none !important; }
.app-pointer     { cursor: pointer; }
.app-on          { display: block; }
.app-off         { display: none; }
.app-inline      { display:inline-block;}
.app-readonly    { background-color: #F7F7F7 !important; }
.app-small-text  { font-size: 13px; color: #75818F; display:block; }
.app-normal      { white-space: normal !important; }

.app-dot:before  { content: '';display: block;width: 4px;height: 4px;background: #202020;position: absolute;left: 0;top: 10px;border-radius: 50%;}
.app-dot         { padding-left:10px; }
.app-box         { width: 100%; min-height: 35px; line-height: 20px; border-radius: 5px; border: 1px solid #e5e5e5; background-color: #fff; color: #484848; padding: 7px 10px;-webkit-appearance: none;}
.app-textbox     { padding:0 10px; height:35px; line-height:33px; border-radius:5px; border:1px solid #D4D4D4;background-color:#fff; color:#484848;}

/*
input[readonly='readonly'] { background-color: rgba(0, 0, 0, .1); color: rgba(0, 0, 0, .4); border-color: rgba(0, 0, 0, .2);}
*/
input.app-input            { padding: 0 10px !important; height: 35px  !important; line-height: 33px  !important; border-radius: 5px  !important; border: 1px solid #D4D4D4  !important; box-shadow: none !important; background-color: #fff; color: #484848; }
input.app-addon            { width:calc(100% - 54px) !important;padding: 0 10px !important;height: 35px  !important;line-height: 33px  !important;border-radius: 5px  !important;border: 1px solid #D4D4D4  !important;box-shadow: none !important;background-color: #fff;color: #484848;}
button.app-addon           { padding: 0 10px;height: 35px;line-height: 33px;border-radius: 5px;border: 1px solid #D4D4D4;background-color: #fff;color: #484848;}
iframe.app-frame           { display: block;padding: 9.5px;margin: 0 0 10px;font-size: 13px;line-height: 1.42857143;word-break: break-all;word-wrap: break-word; border: 1px solid #ccc; white-space: pre-wrap; /* CSS3*/ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-all; /* Internet Explorer 5.5+ */}
pre.app-editor             { font-family: 'Pretendard';font-size: 16px;color: #202020;word-break: normal;word-wrap: break-word;background-color: #fff;border: none;border-radius: 0;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;}
