/* 첨부파일관련 CSS */
/* 사용이미지:
   icons/i-close.svg
   icons/upload_file_icon.png
*/
/* *** 디자인적용 중 파일관련버튼 css 추가 *** */
.filebtn  {display:inline-block;padding:.2em .75em;vertical-align: middle;cursor: pointer;border:1px solid #2E68FF;border-radius: .25em; color:#2E68FF;font-size:14px;}
.filedel  {float:right; width:76px; padding:.2em .75em;vertical-align: middle;cursor: pointer;border:1px solid #ddd;border-radius: .25em; color:#fff;font-size:14px; background:#7A828B;}
.fileview {float:right; width:76px; padding:.2em .75em;vertical-align: middle;cursor: pointer;border:1px solid #ddd;border-radius: .25em; color:#fff;font-size:14px; background:#7A828B;}

.filePop {display:none; z-index:999999999; position:fixed; left:0; top:0; width:100%; height:100vh; text-align:center;}
.filePop.on {display:block;}
.filePop .cover {position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(255,255,255,.8);}
.filePop-wrap {padding:40px 30px; width:500px; max-width:calc(100% - 40px); position:absolute; left:50%; top:50%; background:#fff;transform:translate(-50%,-50%); border-radius:50px; border:2px solid #e4e4e4; box-shadow:20px 20px 20px rgba(0,0,0,.05);}
.filePop-wrap .close {background:url(icons/i-close.svg)center /10px no-repeat;position:absolute; right:30px; top:30px; width:40px; height:40px;}
.filePop-inner ul li {display:none;}
.filePop-inner ul li.on {display:block;}
.filePop-inner h3 {font-size:24px; color:#000;font-weight:600;}
.filePop-inner p {padding:20px 0 0; font-size:15px; color:#484848; font-weight:500;}
.filePop-inner p span {color:#008b8b ;}
.filePop-inner h3 {font-size:21px;}
.filePop-inner p {padding:20px 0 0; font-size:14px;}
.filePop-inner p br {display:none;}
.filePop-inner a.uploadbtn { margin: 0 2px; display: inline-block; padding:.272em .75em; background: #2D7BE3; border-radius: .25em; color: #fff;font-size: 14px;}

/* 2021.11.23 첨부파일 관련 css 공통으로 이동 */
.btn_bst {height:35px;color: #333;background-color: #fff;display: inline-block;padding: 0 !important;margin-bottom: 0;font-size: 12px;text-align: center;white-space: nowrap;vertical-align: middle;touch-action: manipulation;cursor: pointer;user-select: none;background-image: none;border: 1px solid #ccc;border-radius: 4px;}
.file_btn_wrap {margin-top:10px; width: 100%; text-align:right; }
.file_wrap {position:relative;padding-right:126px;margin-top:10px}
.file_wrap:first-child{margin-top:0}
.file_wrap .input_text{width:100%; height: 28px; }
.file_wrap .box_wrap {cursor:pointer;position:absolute;top:0;right:84px;width:40px;height:40px;z-index:20;overflow:hidden}
.file_wrap .box_wrap .input_file{cursor:pointer;position:absolute;left:0;top:0;width:100%;font-size:40px;filter:alpha(opacity=0);opacity:0;z-index:30}
.file_wrap .box_wrap .input_file:before{cursor:pointer;content:" ";display:block;position:absolute;left:0;top:0;right:0;bottom:0;z-index:40}
.file_wrap .btn_file {background:url(icons/upload_file_icon.png) center center no-repeat !important; width:40px; height:40px;color:#666;border-color: #ccc;padding: 6px 12px !important; border-radius: 4px;}
.file_wrap .btn_add  {position:absolute;font-size: 12px; right:42px;top:0; width: 40px; height:40px; }
.file_wrap .btn_del  {position:absolute;font-size: 12px; right:0;top:0; width: 40px; height:40px; }
.file_wrap.app-small {padding-right:43px;}
.file_wrap.app-small .box_wrap {right:0;width:40px;height:35px;}
.file_wrap.app-small .btn_file {width:40px; height:35px;}
.file_wrap.app-small-mpl {padding-right:126px;}
.file_wrap.app-small-mpl .box_wrap {right:84px;width:40px;height:35px;}
.file_wrap.app-small-mpl .btn_file {width:40px; height:35px;}
.file_wrap.app-small-mpl .btn_add  {width:40px; height:35px;}
.file_wrap.app-small-mpl .btn_del  {width:40px; height:35px;}
.file_wrap.app-small-mpl .btn_add span  {padding:0; font-size:12px; }
.file_wrap.app-small-mpl .btn_del span  {padding:0; font-size:12px; }

.file-table { width: 100%; }
.file-table > thead > tr { background-color: #FFFFFF; }
.file-table > thead > tr > th { height: 25px; padding: 5px; text-align: center; }
.file-table > tbody > tr { background-color: #FFFFFF; }
.file-table > tbody > tr > td { height: 25px; padding: 5px; }
.file-table .btnFileDelt { background-color: #FFFFFF; }

/* filebox */
.pop-filebox label { display:inline-block; width: 65px; height: 35px; line-height: 35px; color: #fff; background: #96D019; border: 0; border-radius: 5px 5px 5px 5px; vertical-align: middle; font-size: 14px;}
.pop-filebox .upload-name {display: inline-block; font-size: 15px; border: 1px solid #D4D4D4; margin: 0; padding: 0 4px; white-space: nowrap; vertical-align: middle; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; height: 35px; background-color: #fff; line-height: 35px; width: calc(100% - 70px); }
.pop-filebox .upload-hidden { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}

a.detailicon {margin-left:20px; margin-top:5px; padding:2px 6px; float:right; font-size:inherit; font-weight:500; color:#7A828B; border:1px solid; border-radius:5px; line-height:0.5;}
a.detailicon:hover {color:#fff; background:#2E68FF;}
