@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-weight: 400;

	line-height: 1.5;
	color: #1E1F20;
	color: var(--black);
	font-size: 14px;

	font-family:'Pretendard';
}
html{overflow:hidden;}
img {
	image-rendering: -moz-auto;
	/* Firefox */
	image-rendering: -o-auto;
	/* Opera */
	image-rendering: -webkit-optimize-contrast;
	/* Webkit (non-standard naming) */
	image-rendering: auto;
	-ms-interpolation-mode: bicubic;
	;
	/* IE (non-standard property) */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

[onclick] {
	cursor: pointer;
}

body {
	line-height: 1;
	/* min-width: 1440px; */
	
	/* overflow-y: hidden; */
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	background-clip: padding-box;
	width: 100%;
	table-layout: fixed;
}

th {
	background-clip: padding-box !important;
}

caption {
	display: none;
}

select {
	-webkit-appearance: none;
	/* 크롬 화살표 없애기 */
	-moz-appearance: none;
	/* 파이어폭스 화살표 없애기 */
	appearance: none /* 화살표 없애기 */
}
select::-ms-expand{
	display:none;
}
input::-ms-clear{
	display:none;
}
a:hover {
	text-decoration: none;
	color: inherit;
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(71, 98, 240, 0.5);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: rgba(71, 98, 240, 1);
}

*::-webkit-scrollbar-track {
	background-color: rgb(245, 245, 245);
	border-radius: 10px;
}