.custum-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
    overflow-x: hidden;
    overflow-y: auto;
}
.custum-modal .cutum-modal-dialog{
    width: 100%;
    margin: 0;
    position: relative;
    /* top: 50%;
    transform: translateY(-50%);*/
    background: #fff;
    z-index: 10;
    border-radius: 0;
    overflow: hidden;
    min-height: 100%;
}
.custum-modal .cutum-modal-dialog .modal-header {
    height: 56px;
    background-color: var(--primary-t10);
    padding-left: 24px;
    padding-right: 16px;
    /* display: none; */
    border-bottom: 1px solid var(--Elements-Line);
    justify-content: left;
}
.custum-modal .cutum-modal-dialog .modal-header .modal-title{
    display: flex;
    align-items: center;
}

.custum-modal .cutum-modal-dialog .modal-header .modal-title>span{
    font-weight: 600;
    font-size: 20px;
}
.custum-modal .cutum-modal-dialog .modal-header .modal-title>span em{display: block;font-weight: 600;font-size: 15px;line-height: 130%;}
.custum-modal .cutum-modal-dialog .modal-header .modal-title>i{
    margin-right: 5px;
    font-size: 24px;
}
.custum-modal .cutum-modal-dialog .modal-header .close-btn{
    border: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1;
    background-color: #fff0;
    margin-right: 16px;
    color: var(--primary);
}
.custum-modal .cutum-modal-dialog .modal-header .close-btn i{
    color: var(--primary);
}
.custum-modal .cutum-modal-dialog .modal-body {
    padding: 24px 16px;
    border-bottom: 1px solid var(--Elements-Line);
    border-bottom:0;
}
.custum-modal .cutum-modal-dialog .modal-footer {
    padding: 0;
    border-color: var(--Elements-Line);
}

.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn {
    width: 100%;
    padding: 0;
}

.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn>.row {
    justify-content: end;
    margin: 0;
}

.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn>.row>div {
    /* flex-grow: 0; */
    white-space: nowrap;
    /* min-width: 100px; */
    padding: 0;
}
.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn [class*='btn-']{
    border-radius: 0;
}
.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn .btn-primary-ouline{
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
}
.custum-modal.show {
    display: block;
    z-index: 100;
}
.custum-modal .cutum-modal-dialog .modal-body>.txt1{
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}
.custum-modal.show:before{
    content:'';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    background: #000000cc;
    opacity: 0.6;
}
.custum-modal .cutum-modal-dialog.design-ver1 .modal-footer {}

.custum-modal .cutum-modal-dialog.design-ver1 .modal-footer,
.custum-modal .cutum-modal-dialog.design-ver2 .modal-footer{
    padding: 24px;
}

.custum-modal .cutum-modal-dialog.design-ver1 .modal-footer .bottom-box-btn>.row,
.custum-modal .cutum-modal-dialog.design-ver2 .modal-footer .bottom-box-btn>.row{
    margin: 0 -8px;
}
.custum-modal .cutum-modal-dialog.design-ver2 .modal-footer .bottom-box-btn>.row{
    justify-content: center;
}
.custum-modal .cutum-modal-dialog.design-ver1 .modal-footer .bottom-box-btn>.row>div,
.custum-modal .cutum-modal-dialog.design-ver2 .modal-footer .bottom-box-btn>.row>div{
    padding: 0 8px;
}

.custum-modal .cutum-modal-dialog.design-ver1 .modal-footer .bottom-box-btn [class*='btn-'],
.custum-modal .cutum-modal-dialog.design-ver2 .modal-footer .bottom-box-btn [class*='btn-']{
    border-radius: 8px;
}
.custum-modal .cutum-modal-dialog.design-ver2 .modal-footer .bottom-box-btn .btn-primary-ouline,
.custum-modal .cutum-modal-dialog.design-ver1 .modal-footer .bottom-box-btn .btn-primary-ouline{
    border-left-width:1px;
    border-bottom-width:1px;
    border-right-width:1px;
}
.custum-modal [class*="detail-box"]  {
        /* padding: 24px 0; */
        border-top: 2px solid var(--primary);
        border-bottom: 2px solid var(--primary);
        border-radius: 0;
        box-shadow: none;
        padding: 0;
    }

 .custum-modal [class*="detail-box"] .box {
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid var(--Elements-Line);
        margin-bottom: 0;
    }
.custum-modal [class*="detail-box"]>.row {
        margin-top: 0;
        margin-bottom: 0;
    }
.custum-modal [class*="detail-box"]>.row>div {
        padding-top: 0;
        padding-bottom: 0;
    }
.custum-modal [class*="detail-box"] [class*='form-area-box'] [class*="ele-icon-box"]>textarea{
height: 67px;
}





@media (min-width: 1216px){
.custum-modal .cutum-modal-dialog {
	margin: auto;
	max-width: 600px;
	box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.3);
	border-radius: 16px;
	/* padding: 24px; */
	top: 50%;
	transform: translateY(-50%);
	min-height: inherit;
}

.cutum-modal-dialog.w-ver1 {
	max-width: 480px;
}

.cutum-modal-dialog.design-ver2 {
	max-width: 885px;
	top: 0;
	transform: none;
}

.custum-modal .cutum-modal-dialog.design-ver2 .modal-body {
	padding: 40px;
	padding-bottom: 0;
}

.custum-modal .cutum-modal-dialog .modal-header {
	display: flex;
	justify-content: space-between;
	background: none;
	padding: 0;
	height: auto;
	padding-bottom: 16px;
	/* margin: -24px; */
	background: var(--DarkMode06);
	padding: 16px;
	padding-bottom: 8px;
	border-bottom: 0;
	margin-bottom: 0;
}
.custum-modal .cutum-modal-dialog .modal-header .modal-title{}
.custum-modal .cutum-modal-dialog .modal-header .modal-title>img{
margin-right: 8px;
width: 24px;
}
.custum-modal .cutum-modal-dialog .modal-header .modal-title>span{font-weight: 600;font-size: 18px;line-height: 1;display: inline-flex;align-items: center;margin-right: 8px;}
.custum-modal .cutum-modal-dialog .modal-header .modal-title>span em{
display: inline-block;
font-weight: 400;
font-size: 24px;
line-height: 1;
margin-left: 8px;
}
.custum-modal .cutum-modal-dialog .modal-header .close-btn{
margin: 0;
}
.custum-modal .cutum-modal-dialog.design-ver1 .modal-footer .bottom-box-btn>.row {
	justify-content: center;
}

.custum-modal .cutum-modal-dialog.design-ver2 .modal-footer .bottom-box-btn>.row {
	justify-content: center;
}

.custum-modal .cutum-modal-dialog .modal-body .txt1 {
	text-align: left;
	/* font-size: 22px; */
}

.custum-modal .cutum-modal-dialog .modal-body .design-modal-1 .txt1 {
	text-align: center
}

.custum-modal .cutum-modal-dialog .modal-body .design-modal-1 .txt2 {
	font-weight: 300;
	font-size: 15px;
}

.design-modal-1 .primary-box>.row>div>.row>div:nth-child(1) span {
	font-size: 15px;
}

.custum-modal .cutum-modal-dialog .modal-body {
	border-bottom: 0;
	padding: 24px 16px;
	padding-bottom: 0;
	/* max-height: 800px; */
}

.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn>.row>div {
	flex-grow: 0;

}

.custum-modal .cutum-modal-dialog .modal-footer {
	padding: 24px;
	padding-top: 0;
}

.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn {}

.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn>.row {
	margin: 0 -8px;
}

.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn>.row>div {
	padding: 0 8px;
}

.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn [class*='btn-'] {
	border-radius: 8px;
	min-width: 100px;
}
.custum-modal .cutum-modal-dialog .modal-footer .bottom-box-btn .btn-primary-ouline{
	border: 1px solid var(--primary);
}
.cutum-modal-dialog.w-xl-ver1 {
	max-width: 885px !important;
}
.cutum-modal-dialog.w-xl-ver2 {
	max-width: 800px !important;
}
.cutum-modal-dialog.w-xl-ver3{
	max-width: 1215px !important;
}
}

