[class*='card-box-']{
    border-radius: 16px;
    background: #fff;
    border: 1px solid var(--Elements-Line);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.10);
}
[class*='oneline-list-box-']{}
[class*='oneline-list-box-']>.row{
    margin: 0;
}
[class*='oneline-list-box-']>.row>div{
    border-bottom: 1px solid #ccc;
}
[class*='oneline-list-box-'] .box{
    padding: 16px 0;
}
[class*='oneline-list-box-'] .box:last-child{}
[class*='oneline-list-box-'] .box>.row{
    margin: 0 -8px;
}
[class*='oneline-list-box-'] .box>.row>div{
    padding: 0 8px;
    /* border-bottom: 1px solid #ccc; */
}
[class*='oneline-list-box-'] .box>.row>div.checkbox{
    flex-grow: 0;
    display: flex;
    /* border: 0 !important; */
}
[class*='oneline-list-box-'] .box>.row>div.btnbox{
    flex-grow: 0;
    display: flex;
    white-space: nowrap;
    flex-basis: 120px;
    max-width: 120px;
    justify-content: end;
}
[class*='oneline-list-box-'] .box>.row>div.imgbox{
    flex-grow: 0;
    display: flex;
    white-space: nowrap;
    flex-basis: 154px;
    max-width: 154px;
}
[class*='oneline-list-box-'] .box>.row>div.imgbox .imgs{
    border: 1px solid var(--Elements-Line);
    border-radius:8px;
    position: relative;
    overflow:hidden;
    width: 100%;
    height: 100%;
}
[class*='oneline-list-box-'] .box>.row>div.imgbox .imgs>img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
[class*='oneline-list-box-'] .txt1{}
[class*='oneline-list-box-'] .txt1>em{
    font-size: inherit;
    color: var(--primary);
    font-weight: 600;
}
[class*='oneline-list-box-'] .txt2{}
[class*='oneline-list-box-'] .txt2>em{
     font-size: inherit;
    color: var(--primary);
}
/*img card box*/

[class*="card-box-img-txt-"]{padding: 0;text-align: center;overflow: visible;position: relative;/* height: 294px; */}
[class*="card-box-img-txt-"]>.checked-icon{
    position: absolute;
    right: -13px;
    top: -16px;
    z-index: 10;
    background: #fff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background: #FEFEFE;
    color: var(--DarkMode04-50);
    font-size: 24px;
}
[class*="card-box-img-txt-"].active>.checked-icon{color: var(--primary);}
[class*="card-box-img-txt-"]>div{
    line-height: 1;
    font-size: 0;
}
[class*="card-box-img-txt-"] .img1{
    height: auto;
    margin: auto;
    width: 100%;
    height: 114px;
}
[class*="card-box-img-txt-"] .position-relative>i{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    color: #fff;
    font-size: 56px;
}

[class*="card-box-img-txt-"] .txt-box{padding: 0 16px;/* height: 294px; */}
[class*="card-box-img-txt-"] .txt1{
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    text-align: left;
    padding: 16px 0;
    padding-bottom: 8px;
}
[class*='card-box-img-txt-'] .txt1>em{
    font-size: inherit;
    color: var(--primary);
    font-weight: 600;
}
[class*="card-box-img-txt-"] .info-box-1{
    padding: 16px 0;
    border-top: 1px solid var(--unnamed, rgba(108, 114, 117, 0.25));
    padding-top: 8px;
}
[class*="card-box-img-txt-"] .info-box-1>.row{
    margin: -2px;
    justify-content: space-between;
}
[class*="card-box-img-txt-"] .info-box-1>.row>div{
    padding: 2px;
}
[class*="card-box-img-txt-"] .txt2{
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 16px;
    color: var(--DarkMode04);
    
/* 제목-본문/13pt/Light */
    text-align: left;
    height: 160.8px;
}
[class*="card-box-img-txt-"] .imgbox+.txt-box .txt1{
    padding-bottom:16px;
    padding-bottom: 8px;
}
[class*="card-box-img-txt-"] .imgbox+.txt-box .txt2{
      line-height: 1.1;
      height: 3.6em;
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
}
[class*="card-box-img-txt-"] .txt2>em{
     font-size: inherit;
    color: var(--primary);
}
[class*="card-box-img-txt-"] .txt3{
    display: flex;
    align-items: center;
    line-height: 100%;
    color: var(--DarkMode04);
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
}
[class*="card-box-img-txt-"] .txt3>i{margin-right:2px;color: var(--DarkMode01);}
[class*="card-box-img-txt-"] .txt3>span{color: var(--DarkMode04);font-family: Pretendard;font-style: normal;font-weight: 600;font-size: inherit;line-height: 1;margin-right: 2px;}
/*//*/
/*listbox-*/
[class*="listbox-"]{}
[class*="listbox-"]>.row{margin: -8px;}
[class*="listbox-"]>.row>div{
    padding: 8px;
}
/*//*/

[class*='info-box-']{}
[class*='info-box-']>.row{
    margin: -8px;
}
[class*='info-box-']>.row>div{
    padding: 8px;
    flex-grow: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
}


.more-animation{
    animation: fadein 1.5s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}