.bb-0{border-bottom:0 !important;}
.bl-0{border-left:0 !important;}
.br-0{border-right:0 !important;}
.bt-0{border-top:0 !important;}
.bb-in{border-bottom: 1px solid;}
.bt-in{border-top: 1px solid;}
.br-in{border-right: 1px solid;}
.bl-in{border-left: 1px solid;}
.bw-1{border-width:1px;}
.bw-2{border-width:2px;}
.bw-3{border-width:3px;}
.bw-4{border-width:4px;}
.bw-5{border-width:5px;}
.bw-6{border-width:6px;}
.bw-7{border-width:7px;}
.bw-8{border-width:8px;}
.bw-9{border-width:9px;}
.bw-10{border-width:10px;}
