:root{
    /*-- font*/
 --title1-PC: 600 24px /100% 'Pretendard';
 --title1-M: 600 22px /100% 'Pretendard';

 --XXL-light-line-1: 300 18px /100%  'Pretendard';
 --XXL-regular-line-1: 400 18px /100%  'Pretendard';
 --XXL-medium-line-1: 500 18px /100%  'Pretendard';
 --XXL-semibold-line-1: 600 18px /100%  'Pretendard';

 --XL-light-line-1: 300 16px /100%  'Pretendard';
 --XL-regular-line-1: 400 16px /100%  'Pretendard';
 --XL-medium-line-1: 500 16px /100%  'Pretendard';
 --XL-semibold-line-1: 600 16px /100%  'Pretendard';

 --L-light-line-1: 300 15px /100%  'Pretendard';
 --L-regular-line-1: 400 15px /100%  'Pretendard';
 --L-medium-line-1: 500 15px /100%  'Pretendard';
 --L-semibold-line-1: 600 15px /100%  'Pretendard';

 --R-light-line-1: 300 14px /100%  'Pretendard';
 --R-regular-line-1: 400 14px /100%  'Pretendard';
 --R-medium-line-1: 500 14px /100%  'Pretendard';
 --R-semibold-line-1: 600 14px /100%  'Pretendard';

 --S-light-line-1: 300 13px /100%  'Pretendard';
 --S-regular-line-1: 400 13px /100%  'Pretendard';
 --S-medium-line-1: 500 13px /100%  'Pretendard';
 --S-semibold-line-1: 600 13px /100%  'Pretendard';

 --XS-light-line-1: 300 12px /100%  'Pretendard';
 --XS-regular-line-1: 400 12px /100%  'Pretendard';
 --XS-medium-line-1: 500 12px /100%  'Pretendard';
 --XS-semibold-line-1: 600 12px /100%  'Pretendard'; 
 
 --VS-light-line-1: 300 12px /100%  'Pretendard';
 --VS-regular-line-1: 400 12px /100%  'Pretendard';
 --VS-medium-line-1: 500 12px /100%  'Pretendard';
 --VS-semibold-line-1: 600 12px /100%  'Pretendard'; 
  /**/
 --XXL-light-line-13: 300 18px /130%  'Pretendard';
 --XXL-regular-line-13: 400 18px /130%  'Pretendard';
 --XXL-medium-line-13: 500 18px /130%  'Pretendard';
 --XXL-semibold-line-13: 600 18px /130%  'Pretendard';

 --XL-light-line-13: 300 16px /130%  'Pretendard';
 --XL-regular-line-13: 400 16px /130%  'Pretendard';
 --XL-medium-line-13: 500 16px /130%  'Pretendard';
 --XL-semibold-line-13: 600 16px /130%  'Pretendard';

 --L-light-line-13: 300 15px /130%  'Pretendard';
 --L-regular-line-13: 400 15px /130%  'Pretendard';
 --L-medium-line-13: 500 15px /130%  'Pretendard';
 --L-semibold-line-13: 600 15px /130%  'Pretendard';

 --R-light-line-13: 300 14px /130%  'Pretendard';
 --R-regular-line-13: 400 14px /130%  'Pretendard';
 --R-medium-line-13: 500 14px /130%  'Pretendard';
 --R-semibold-line-13: 600 14px /130%  'Pretendard';

 --S-light-line-13: 300 13px /130%  'Pretendard';
 --S-regular-line-13: 400 13px /130%  'Pretendard';
 --S-medium-line-13: 500 13px /130%  'Pretendard';
 --S-semibold-line-13: 600 13px /130%  'Pretendard';

 --XS-light-line-13: 300 12px /130%  'Pretendard';
 --XS-regular-line-13: 400 12px /130%  'Pretendard';
 --XS-medium-line-13: 500 12px /130%  'Pretendard';
 --XS-semibold-line-13: 600 12px /130%  'Pretendard'; 
 
 --VS-light-line-13: 300 12px /130%  'Pretendard';
 --VS-regular-line-13: 400 12px /130%  'Pretendard';
 --VS-medium-line-13: 500 12px /130%  'Pretendard';
 --VS-semibold-line-13: 600 12px /130%  'Pretendard'; 
 /**/
 /**/
 --XXL-light-line-15: 300 18px /150%  'Pretendard';
 --XXL-regular-line-15: 400 18px /150%  'Pretendard';
 --XXL-medium-line-15: 500 18px /150%  'Pretendard';
 --XXL-semibold-line-15: 600 18px /150%  'Pretendard';

 --XL-light-line-15: 300 16px /150%  'Pretendard';
 --XL-regular-line-15: 400 16px /150%  'Pretendard';
 --XL-medium-line-15: 500 16px /150%  'Pretendard';
 --XL-semibold-line-15: 600 16px /150%  'Pretendard';

 --L-light-line-15: 300 15px /150%  'Pretendard';
 --L-regular-line-15: 400 15px /150%  'Pretendard';
 --L-medium-line-15: 500 15px /150%  'Pretendard';
 --L-semibold-line-15: 600 15px /150%  'Pretendard';

 --R-light-line-15: 300 14px /150%  'Pretendard';
 --R-regular-line-15: 400 14px /150%  'Pretendard';
 --R-medium-line-15: 500 14px /150%  'Pretendard';
 --R-semibold-line-15: 600 14px /150%  'Pretendard';

 --S-light-line-15: 300 13px /150%  'Pretendard';
 --S-regular-line-15: 400 13px /150%  'Pretendard';
 --S-medium-line-15: 500 13px /150%  'Pretendard';
 --S-semibold-line-15: 600 13px /150%  'Pretendard';

 --XS-light-line-15: 300 12px /150%  'Pretendard';
 --XS-regular-line-15: 400 12px /150%  'Pretendard';
 --XS-medium-line-15: 500 12px /150%  'Pretendard';
 --XS-semibold-line-15: 600 12px /150%  'Pretendard'; 
 
 --VS-light-line-15: 300 12px /150%  'Pretendard';
 --VS-regular-line-15: 400 12px /150%  'Pretendard';
 --VS-medium-line-15: 500 12px /150%  'Pretendard';
 --VS-semibold-line-15: 600 12px /150%  'Pretendard'; 
 /**/
}
/*font-size 대표적 정리*/
/*font 정리*/
/*font size weight lineheight*/
.ft-vs-L-1{font:var(--VS-light-line-1);}
.ft-xs-L-1{font:var(--XS-light-line-1);}
.ft-s-L-1{font:var(--S-light-line-1);}
.ft-r-L-1{font:var(--R-light-line-1);}
.ft-l-L-1{font:var(--L-light-line-1);}
.ft-xl-L-1{font:var(--XL-light-line-1);}
.ft-xxl-L-1{font:var(--XXL-light-line-1);}
.ft-vs-L-13{font:var(--VS-light-line-13);}
.ft-xs-L-13{font:var(--XS-light-line-13);}
.ft-s-L-13{font:var(--S-light-line-13);}
.ft-r-L-13{font:var(--R-light-line-13);}
.ft-l-l-13{font:var(--L-light-line-13);}
.ft-xl-L-13{font:var(--XL-light-line-13);}
.ft-xxl-L-13{font:var(--XXL-light-line-13);}
.ft-vs-L-15{font:var(--VS-light-line-15);}
.ft-xs-L-15{font:var(--XS-light-line-15);}
.ft-s-L-15{font:var(--S-light-line-15);}
.ft-r-L-15{font:var(--R-light-line-15);}
.ft-l-l-15{font:var(--L-light-line-15);}
.ft-xl-L-15{font:var(--XL-light-line-15);}
.ft-xxl-L-15{font:var(--XXL-light-line-15);}

.ft-vs-R-1{font:var(--VS-regular-line-1);}
.ft-xs-R-1{font:var(--XS-regular-line-1);}
.ft-s-R-1{font:var(--S-regular-line-1);}
.ft-r-R-1{font:var(--R-regular-line-1);}
.ft-l-R-1{font:var(--L-regular-line-1);}
.ft-xl-R-1{font:var(--XL-regular-line-1);}
.ft-xxl-R-1{font:var(--XXL-regular-line-1);}
.ft-vs-R-13{font:var(--VS-regular-line-13);}
.ft-xs-R-13{font:var(--XS-regular-line-13);}
.ft-s-R-13{font:var(--S-regular-line-13);}
.ft-r-R-13{font:var(--R-regular-line-13);}
.ft-l-R-13{font:var(--L-regular-line-13);}
.ft-xl-R-13{font:var(--XL-regular-line-13);}
.ft-xxl-R-13{font:var(--XXL-regular-line-13);}
.ft-vs-R-15{font:var(--VS-regular-line-15);}
.ft-xs-R-15{font:var(--XS-regular-line-15);}
.ft-s-R-15{font:var(--S-regular-line-15);}
.ft-r-R-15{font:var(--R-regular-line-15);}
.ft-l-R-15{font:var(--L-regular-line-15);}
.ft-xl-R-15{font:var(--XL-regular-line-15);}
.ft-xxl-R-15{font:var(--XXL-regular-line-15);}

.ft-vs-M-1{font:var(--VS-medium-line-1);}
.ft-xs-M-1{font:var(--XS-medium-line-1);}
.ft-s-M-1{font:var(--S-medium-line-1);}
.ft-r-M-1{font:var(--R-medium-line-1);}
.ft-l-M-1{font:var(--L-medium-line-1);}
.ft-xl-M-1{font:var(--XL-medium-line-1);}
.ft-xxl-M-1{font:var(--XXL-medium-line-1);}
.ft-vs-M-13{font:var(--VS-medium-line-13);}
.ft-xs-M-13{font:var(--XS-medium-line-13);}
.ft-s-M-13{font:var(--S-medium-line-13);}
.ft-r-M-13{font:var(--R-medium-line-13);}
.ft-l-M-13{font:var(--L-medium-line-13);}
.ft-xl-M-13{font:var(--XL-medium-line-13);}
.ft-xxl-M-13{font:var(--XXL-medium-line-13);}
.ft-vs-M-15{font:var(--VS-medium-line-15);}
.ft-xs-M-15{font:var(--XS-medium-line-15);}
.ft-s-M-15{font:var(--S-medium-line-15);}
.ft-r-M-15{font:var(--R-medium-line-15);}
.ft-l-M-15{font:var(--L-medium-line-15);}
.ft-xl-M-15{font:var(--XL-medium-line-15);}
.ft-xxl-M-15{font:var(--XXL-medium-line-15);}

.ft-vs-SB-1{font:var(--VS-semibold-line-1);}
.ft-xs-SB-1{font:var(--XS-semibold-line-1);}
.ft-s-SB-1{font:var(--S-semibold-line-1);}
.ft-r-SB-1{font:var(--R-semibold-line-1);}
.ft-l-SB-1{font:var(--L-semibold-line-1);}
.ft-xl-SB-1{font:var(--XL-semibold-line-1);}
.ft-xxl-SB-1{font:var(--XXL-semibold-line-1);}
.ft-vs-SB-13{font:var(--VS-semibold-line-13);}
.ft-xs-SB-13{font:var(--XS-semibold-line-13);}
.ft-s-SB-13{font:var(--S-semibold-line-13);}
.ft-r-SB-13{font:var(--R-semibold-line-13);}
.ft-l-SB-13{font:var(--L-semibold-line-13);}
.ft-xl-SB-13{font:var(--XL-semibold-line-13);}
.ft-xxl-SB-13{font:var(--XXL-semibold-line-13);}
.ft-vs-SB-15{font:var(--VS-semibold-line-15);}
.ft-xs-SB-15{font:var(--XS-semibold-line-15);}
.ft-s-SB-15{font:var(--S-semibold-line-15);}
.ft-r-SB-15{font:var(--R-semibold-line-15);}
.ft-l-SB-15{font:var(--L-semibold-line-15);}
.ft-xl-SB-15{font:var(--XL-semibold-line-15);}
.ft-xxl-SB-15{font:var(--XXL-semibold-line-15);}


[class*="top-tit-"] .txt1{font: var(--XXL-semibold-line-1);}
.top-tit-2 .txt1{font: var(--L-semibold-line-1);font: var(--R-semibold-line-1);}
.top-tit-3 .txt1{}

[class*="top-tit-"]{margin-bottom:8px;}
[class*="top-tit-"]>.row{align-items: center;margin: 0 -8px;}
[class*="top-tit-"]>.row>div{padding: 0 8px;}
[class*="top-tit-"] .txt1{/* 18px/100/18세미볼드 */
   display: flex;
   align-items: center;
   min-height: 28px;
}
[class*="top-tit-"] .txt1 i{
   color: inherit;
   font-size: 22px;
   margin-right: 8px;
}
[class*="top-tit-"] .txt1 span{
   margin-left: 8px;
   font-size: 15px;
   font-weight: 300;
   color: inherit;
}
[class*="top-tit-"] .txt1 span>em{
   color: var(--orange);
   font-weight: 600;
}
[class*="top-tit-"] .txt1 .bar{
   width: 2px;
   height: 15px;
}
[class*="top-tit-"] .infotxt1{
   font-size: 14px;
   font-weight: 300;
}
[class*="top-tit-"] .infotxt1>em{font-weight:600; color:var(--primary)}
.top-tit-2 {}
.top-tit-2 .txt1 i{
   color: var(--mint);
   font-size: 20px;
   margin-right: 4px;
}
.top-tit-2 .txt1 span{
   font-size: 13px;
   font-weight: 300;
}
.top-tit-2 .txt1 span>em{}
[class*="top-tit-"].border-in-ver{
   border: 1px solid var(--Elements-Line);
   border-left:0;
   border-top:0;
   border-right:0;
}





