.flow-chart-box {
	margin: 0 -15px;
	white-space: nowrap;
	overflow: auto;
}

.flow-chart-box > ul {
display: inline-block;
vertical-align: top;
padding: 0 15px;
width: 128px;
}

.flow-chart-box > ul > li.year {
font-size: 12px;
margin-bottom: 10px;
}

.flow-chart-box > ul > li.year > .box {
background-color: #3F8CFF;
color: #fff;
padding: 5px 0;
height: auto;
}

.flow-chart-box > ul > li:not(.year) {
padding-bottom: 10px;
}

.flow-chart-box > ul > li.now .box {
background: #ED8401;
color: #fff;
}

.flow-chart-box > ul > li > .box {
border: 1px solid #ccc;
padding: 0 5px;
text-align: center;
font-size: 14px;
position: relative;
border-radius: 10px;
height: 43px;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
}
.flow-chart-box > ul > li > .box .txt{
	width: 100%;
	color: inherit;
	font-weight: inherit;
	overflow: auto;
	max-height: 100%;
}
.flow-chart-box > ul > li > .box > .link::before {
content: '';
height: 14px;
width: 14px;
border: 4px solid #DBDBDB;
background-color: #FFFFFF;
border-radius: 14px;
position: absolute;
top: 50%;
right: -10px;
-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
z-index: 10;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-1 {
height: 43px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-2 {
height: 96px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-3 {
height: 149px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-4 {
height: 202px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-5 {
height: 255px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-6 {
height: 308px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-7 {
height: 361px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-8 {
height: 414px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-9 {
height: 467px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-10 {
height: 520px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-11 {
height: 573px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-12 {
height: 626px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-13 {
height: 679px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-14 {
height: 732px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-15 {
height: 785px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-16 {
height: 838px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-17 {
height: 891px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-18 {
height: 944px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-19 {
height: 997px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-20 {
height: 1050px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-21 {
height: 1103px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-22 {
height: 1156px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-23 {
height: 1209px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-24 {
height: 1262px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-25 {
height: 1315px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-26 {
height: 1368px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-27 {
height: 1421px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-28 {
height: 1474px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-29 {
height: 1527px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-30 {
height: 1580px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-31 {
height: 1633px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-32 {
height: 1686px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-33 {
height: 1739px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-34 {
height: 1792px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-35 {
height: 1845px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-36 {
height: 1898px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-37 {
height: 1951px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-38 {
height: 2004px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-39 {
height: 2057px;
}

.flow-chart-box > ul > li > .box > .link > [class^="line-"].link-40 {
height: 2110px;
}

.flow-chart-box > ul > li > .box > .link > .line-y {
border-radius: 3px;
padding: 0;
width: 2px;
position: absolute;
top: 0;
right: -4px;
padding-top: 23px;
padding-bottom: 23px;
}

.flow-chart-box > ul > li > .box > .link > .line-y::before {
background: #DBDBDB;
content: "";
display: block;
height: 100%;
}

.flow-chart-box > ul > li > .box > .link > .line-x {
border-radius: 3px;
padding: 0;
width: 20px;
position: absolute;
top: 0px;
right: -23px;
padding-top: 21.5px;
padding-bottom: 21.5px;
}

.flow-chart-box > ul > li > .box > .link > .line-x::before {
background: #DBDBDB;
content: "";
display: block;
height: 2px;
position: absolute;
bottom: 21.5px;
width: 20px;
}

.flow-chart-box > ul > li > .box > .link > .line-x::after {
content: '';
height: 14px;
width: 14px;
border: 4px solid #DBDBDB;
background-color: #FFFFFF;
border-radius: 14px;
position: absolute;
bottom: 16px;
right: -12px;
}

.flow-chart-box > ul > li > .box > .link.reverse > [class^="line-"] {
top: auto;
bottom: 0;
}

.flow-chart-box > ul > li > .box > .link.reverse > .line-x::before {
bottom: auto;
top: 21.5px;
}

.flow-chart-box > ul > li > .box > .link.reverse > .line-x::after {
content: '';
bottom: auto;
top: 16px;
}

.flow-chart-box > ul > li > .box:hover .link:before,
.flow-chart-box > ul > li > .box:hover .link .line-x::after {
border-color: #4762F0;
z-index: 100;
}

.flow-chart-box > ul > li > .box:hover .link:before {
z-index: 1000;
}

.flow-chart-box > ul > li > .box:hover .link > .line-x::before,
.flow-chart-box > ul > li > .box:hover .link > .line-y::before {
background-color: #4762F0;
z-index: 100;
}

.flow-chart-box > ul > li > .box:hover .link,
.flow-chart-box > ul > li > .box:hover .link .line-x,
.flow-chart-box > ul > li > .box:hover .link .line-y {
z-index: 100;
}

.clone-canvas.tol-ver .canvas-box{

}
