.wrap{width:100%;overflow: auto;height:100vh;}
.wrap.mobile-menu-show:before{content:"";position: fixed;width: 100%;height: 100%;background: #6b6b6b8a;z-index: 100;}

/*//*/
/*head*/
header{
    height: 60px;

/* DarkMode/01/100% */
    background: #fff;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}
header>.pc-ver{display:none}
header>div>.row{
    margin: 0;
    height: 100%;
    align-content: center;
    overflow: hidden;
    justify-content: space-between;
}
header>div>.row>div{
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
}
header>div>.row>div:after{
    /* content:""; */
    height:24px;
    width:2px;
    position:absolute;
    background: rgba(255, 255, 255, 0.3);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
header>div>.row>div:last-child:after{display:none}
header>div>.row>div>.row{
    justify-content: space-between;
}
header>div>.row>div>.row>div{
    align-self: center;
    flex-grow: 0;
    white-space: nowrap;
    width: auto;
    flex-basis: auto;
}
header .logo-box{
    height: 100%;
}
header .logo-box a{
    display: block;
}
header .logo-box a img{
    /* width: 225px; */
}
header .searchbox{
    width: auto;
    display: flex;
    align-items: center;
    position: relative;
    margin: 16px;
}
header .searchbox .check-radio-box input+label{
    color: #fff;
    font-size: 12px;
    line-height: 100%;
}
header .searchbox [class*='form-area-box']{
	width: 100%;
}
header .searchbox [class*='form-area-box'] [class*="ele-icon-box"]{
    height: 44px;
/* DarkMode/03/90% */
    /* background: var(--DarkMode03-90); */
    border-radius: 999px;
    border: 2px solid var(--primary);
    padding: 0 8px;
}
header .searchbox [class*='form-area-box'] [class*="ele-icon-box"] .check-radio-box{
    height: 24px;
/* Primary/Primary */
    flex-basis: 114px;
    max-width: 114px;
    display: flex;
    justify-content: center;
    padding: 0;
}
header .searchbox [class*='form-area-box'] [class*="ele-icon-box"] .check-radio-box label{
    color: #fff;
    font-size: 12px;
    padding:0;
    display: flex;
    flex-direction: row-reverse;
    background: var(--primary);
    border-radius: 999px;
    padding: 0 8px;
    width: 100%;
    justify-content: center;
}
header .searchbox [class*='form-area-box'] [class*="ele-icon-box"] .check-radio-box input[type="checkbox"]+label:before{
    content: "\f547";
    font-size: 16px;
    color: #fff;
    padding-right: 0;
}
header .searchbox [class*='form-area-box'] [class*="ele-icon-box"] .check-radio-box input[type="checkbox"]:checked+label{
    background: var(--orange);
}
header .searchbox [class*='form-area-box'] [class*="ele-icon-box"] .check-radio-box input[type="checkbox"]:checked+label:before{
    content: "\ed1c";
}
header .searchbox [class*='form-area-box'] [class*="ele-icon-box"] input{
    border: 0;
    background: #fff0;
    height: 100%;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}
header .menu{
    width: auto;
    justify-content: space-between;
    display: flex;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
header .menu2{
    display: flex;
    justify-content: flex-end;
    /* padding-top: 8px; */
    /* border-top: 1px solid var(--Elements-Line); */
    margin: 16px;
    margin-top: 0;
}
header .menu [class*='btn-']{
    /* display: block; */
    padding: 8px 16px;
    /* border-radius: 999px; */
    /* border: 1.5px solid var(--DarkMode04-75); */
    /* background: #fff0; */
    color: var(--black);
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    border: 1px solid var(--primary);
    border-radius: 999px;
}
header .menubox{
    background: #fff;
    position: fixed;
    width: 100%;
    /* padding: 16px; */
    /* height: calc(100% - 60px); */
    top: 60px;
    border-top: 1px solid var(--Elements-Line);
    box-shadow: 0px 6px 4px #939393;
    overflow: hidden;
    padding: 0;
    animation-duration: .5s;
    /* animation-name: menuout; */
    animation-fill-mode: forwards;
    max-height: 0px;
}
header .menubox.trans{
    /* padding: 16px; */
    animation-name: menuin;
}
@keyframes menuin {
  0%{
  max-height: 0px;
  }
  100% {
  max-height: 1000px;
  }
}
@keyframes menuout {
  0%{
	  max-height: 1000px;
  }
  100% {
	  max-height: 0px;
  }
}
/**/

/*footer*/
footer{
    height: auto;
    background: var(--DarkMode01);
    padding: 16px;
    background: var(--5, rgba(56, 100, 255, 0.05));
    padding-bottom: 24px;
}
footer>div>.row{
    border-top: 1px solid var(--unnamed, rgba(108, 114, 117, 0.25));
}
footer>div>.row>div{}
footer>div>.row-1{
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
footer>div>.row-1>div{
    flex-grow: 0;
    white-space: nowrap;
    padding: 16px 0;
}
footer>div>.row-1>div a{
    font-size: 16px;
    font-weight: 600;
}
footer>div>.row-2{
    margin: 0;
}
footer>div>.row-2>div{
    padding: 24px 0;
}
footer>div>.row-3{
    margin: 0 -4px;
    align-items: center;
}
footer>div>.row-3>div{
    padding: 0 4px;
    padding-top: 16px;
}
footer>div>.row-2 .txt1{
    color: var(--unnamed, #141718);
/* 제목-본문/14pt/Light */
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 16.8px */
}
footer>div>.row-3 .txt1{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}


/*//*/
.datum-point{
	width: 100%;
	margin:auto;
}
.banner {
    position: relative;
    overflow: hidden;
}
.banner>.box{
    height: 314px;
    position: relative;
}
.banner>.box>img{
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 105px;
    /* display: none; */
}
.banner>.box>p{
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    font-style: normal;
    line-height: 1;
    font-weight: 300;
    width: 100%;
    padding: 16px;
}
.banner>.box>p>span{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: var(--primary);
    line-height: 1;
}
.banner>.box>p>em{
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    color: var(--primary);
    line-height: 1;
}
.banner>.imgbox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}
.banner>.imgbox:after{
	content:"";
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 40px;
	background: var(--2, #F4F4F4);
	filter: blur(27.5px);
}
.banner>.imgbox>img{position: absolute;opacity: 0.5;}
.banner>.imgbox .img1{
    top: 0;
    width: 530px;
    display: none;
}
.banner>.imgbox .img2{
	left: 50%;
    transform: translateX(-50%);
}
.banner>.imgbox .img3{
    right: 0;
    width: 530px;
    top: -60px;
    display: none;
}
.left .left-menu{padding: 24px 16px;height: 100%;overflow: hidden;border-radius: 16px;border: 1px solid rgba(108, 114, 117, 0.25);background: #FEFEFE;
/* 카드-인풋 그림자 */box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.10);position: fixed;bottom: -100%;top: auto;height: auto;width: calc(100% - 32px);z-index: 100;left: 50%;transform: translateX(-50%);box-shadow: 0px 0px 5px #989898;animation-duration: .5s;animation-fill-mode: forwards;}
.left .left-menu.trans{
    animation-name: suportMenu;
}
@keyframes suportMenu {
  0%{
   bottom: -1000px
  }
  100% {
  bottom: 16px;
  }
}
.left .left-menu>.top {
	margin-bottom: 16px;
	height: auto;
/* Input/Line */
	border-bottom: 1px solid var(--unnamed, rgba(108, 114, 117, 0.25));
	/* border-bottom: 1px solid var(--Elements-Line); */
	position:relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-bottom: 9px;
	flex-flow: nowrap;
}
.left .left-menu>.top .img1{
	
position: absolute;
	
left: -16px;
	
top: -16px;
	
background-repeat: no-repeat;
	
background-size: cover;
	
z-index: 0;
}
.left .left-menu>.top .img2{
	
position: absolute;
	
bottom: 0;
	
z-index: 1;
	
left: 50%;
	
transform: translateX(-50%);
}
.left .left-menu>.top .txt1 {/* position: relative; *//* z-index: 10; *//* font-weight: 500; *//* font-size: 24px; *//* line-height: 100%; *//* color: #fff; */font-size: 22px;font-style: normal;font-weight: 600;line-height: 120%; /* 26.4px */color: var(--black);}
.left .left-menu>.top .menu-collapse
	{
	color: #fff;
	border: 1px solid #fff;
	position: relative;
	z-index: 1;
	white-space: nowrap;
	background: #fff0;
	border-radius: 16px;
	flex-grow: 0;
	font-size: 11px;
	font-style: normal;
	font-weight: 600;
	display: flex;
	align-items: center;
	padding: 5px 8px;
	justify-content: space-between;
	line-height: 1;
}
.left .left-menu>.top .menu-collapse.trans{
    background: var(--mint);
}
.left .left-menu>.top .menu-collapse i{
	font-size: 14px;
	color: inherit;
	margin-left: 2px;
}

.lev-menu-box {
	max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.lev-menu-box .lev1 {
	
}

.lev-menu-box .lev1>li {
	position: relative;
	margin-bottom: 8px;
}

.lev-menu-box .lev1>li>a {
	font-size: 15px;
	display: block;
	font-weight: 400;
	position: relative;
	padding-left: 32px;
	width: 100%;
	color: var(--black);
	z-index: 10;
	height: 32px;
	display: flex;
	align-items: center;
	transition: color 0.5s;
}

.lev-menu-box .lev1>li>a:before {
	content: '';
	background: #D6D6D6;
	position: absolute;
	bottom: 0;
	right: 0;
	width: calc(100% - 30px);
	height: 1px;
	opacity: 0;
}

.lev-menu-box .lev1>li>a i, .lev-menu-box .lev1>li i.arrow {
	margin-right: 0;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	color: inherit;
}

.lev-menu-box .lev1>li i.arrow {
	position: absolute;
	right: 13px;
	left: auto;
	top: 16px;
	z-index: 10;
	color: #fff;
}

.lev-menu-box .lev2 {
	max-height: 0;
	overflow: hidden;
}
.lev-menu-box .lev1>li:after{
	content:'';
	border-radius: 0px 999px 999px 0px;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height:32px;
	opacity:0;
	transition:opacity 0.5s;
}
.lev-menu-box .lev1>li:hover:after{
	opacity:1;
/* Primary/Primary */
	background: var(--primary-t10);
	
}
.lev-menu-box .lev1>li:hover>a{
    color: var(--primary);
}
.lev-menu-box .lev1>li.active:after,
.lev-menu-box .lev1>li:active:after{
/* Primary/Primary */
	opacity:1;
	background: var(--primary);

}
.lev-menu-box .lev1>li.active>a,
.lev-menu-box .lev1>li:active>a{
	
color: #fff;
}
.lev-menu-box .lev1>li>a>i{color:inherit;}
.lev-menu-box .lev1>li.active>a .arrow {
	
}

.lev-menu-box .lev1>li.active .lev2 {
	max-height: 1000px;
}

.lev-menu-box .lev2>li {
	padding-left: 32px;
}

.lev-menu-box .lev2>li>a {
	display: flex;
	height: 32px;
	border-bottom: 1px solid #ccc;
	position: relative;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	padding-right: 12px;
	line-height: 1;
}


.lev-menu-box .lev1>li>a span {
	position: static;
	top: 0;
	transform: none;
	vertical-align: middle;
	margin-left: 10px;
}

.lev-menu-box .lev2>li>a:hover, .lev-menu-box .lev2>li>a.active {
	color: var(--primary);
	font-size: 15px;
	font-weight: 600;
}

.lev-menu-box .lev2>li>a:hover span{}
.lev-menu-box .lev2>li>a.active span,
.lev-menu-box .lev2>li>a:active span{}
.lev-menu-box .lev1>li:hover>a span{}
.lev-menu-box .lev1>li.active>a span,
.lev-menu-box .lev1>li:active>a span{
	background: #fff;
	color: var(--primary);
}

.lev-menu-box .lev2>li>a span,
.lev-menu-box .lev1>li>a span {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0;
	border-radius: 9px;
	background-color: var(--orange);
	display: inline-block;
	padding: 0px 8px;
	color: #fff;
	margin-left: 4px;
}
.lev-menu-box .lev2>li>a span{
	background: var(--primary-t10);
	border-radius: 999px;
	color: var(--primary);
}
.lev-menu-box .lev1>li>a span {
	position: static;
	transform: none;
}

.lev-menu-box .lev3>li>a span {
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 0;
	border-radius: 9px;
	background-color: #fff;
	display: inline-block;
	padding: 0px 4px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid #EAEAEA;
}
.left.trans {
	flex-basis: 50px;
	max-width: 50px;
	padding: 0 10px;
}

.left.trans .left-menu>.top {
	
}

.left.trans .left-menu>.top .txt1 {
	font-size: 0;
	position: relative;
}

.left.trans .left-menu>.top .txt1 a.menu-collapse
	{
	font-size: 35px;
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.left.trans .lev-menu-box .lev1>li>a {
	padding: 0;
	font-size: 0;
	display: block;
	height: 26px;
}

.left.trans .lev-menu-box .lev1>li>a i:not(.arrow) {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 26px;
}

.left.trans .lev-menu-box .lev1>li i.arrow {
	display: none;
}

.left.trans .lev-menu-box .lev1>li {
	position: relative;
}

.left.trans .lev-menu-box .lev1>li .lev2 {
	position: absolute;
	left: 40px;
	top: 0;
	background: #191d31;
	border-radius: 0px 5px 5px 0px;
	max-height: 0;
}

.left.trans .lev-menu-box .lev1>li.hover .lev2 {
	max-height: 1000px;
	z-index: 10;
}

.left.trans .lev-menu-box .lev2>li {
	padding: 0;
}

.left.trans .lev-menu-box .lev2>li>a {
	padding: 0 15px;
	white-space: nowrap;
}

/*//*/
/*left search*/
.left-search {
	background: #fff;
	padding: 0;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 8px 8px 11px 0px rgba(0, 0, 0, 0.10);
	white-space: nowrap;
	transition: all 0.4s;
	border: 1px solid var(--unnamed, rgba(108, 114, 117, 0.25));
	background: var(--bg-light-1, #FEFEFE);
	box-shadow: 8px 8px 11px 0px rgba(0, 0, 0, 0.10);
	height: 100%;
	position: fixed;
	bottom: -100%;
	top: auto;
	height: auto;
	width: calc(100% - 32px);
	z-index: 100;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 0px 5px #989898;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}
.left-search.trans{
    animation-name: suportMenu;
}
.left-search .top {
	/* margin-bottom: 20px; */
	height: 72px;
	display: flex;
	align-items: center;
	padding: 24px 16px;
	background: var(--DarkMode06);
	justify-content: space-between;
	border-bottom: 1px solid #E3E9EE;
}
.left-search .searchlist{
    padding: 24px 16px;
    background: #fff;
    height: calc(100% - 72px);
    white-space: nowrap;
    min-width: 240px;
}
.left-search .top .txt1 {
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	display: flex;
	align-items: center;
}
.left-search .top .txt1:before {
	content: "\ec28";
	display:none;
	color: var(--primary);
	font-size: 22px;
	font-family: 'Epic2023' !important;
	margin-right: 10px;
}
.left-search .top .txt1>i{
	color: var(--primary);
	font-size: 22px;
}
.left-search .top .close-btn {
	color: var(--primary);
	font-size: 20px;
}
.left-search .top .close-btn i{color:inherit;font-size: inherit;}

.left-menu, .left-search {
}

.left-search.trans {

}

.left-search.trans .top {
}

.left-search.trans>*:not(.top)>* {
	/* display: none; */
}

.left-search.trans .top .txt1 {
}

.left-search.trans .top .close-btn {
}
.content {
    margin-top: -19px;
    z-index: 10;
    position: relative;
    padding-bottom: 48px;
}

.content>div>.row {
    margin: 0;
}

.content>div>.row>div {
    padding: 0 16px;
}

.content .row>div.left {
    flex-basis: 0px;
    max-width: 0px;
    /* display: none; */
    position: absolute;
    /* z-index: -100; */
}

.content .row>div.right {
    flex-basis: 0px;
    max-width: 0px;
    position: absolute;
    /* z-index: -100; */
}
[class*="shadow-box-"] {
    border-radius: var(--16, 16px);
    border: 1px solid var(--unnamed, rgba(108, 114, 117, 0.25));
    background: var(--bg-light-1, #FEFEFE);
/* 카드-인풋 그림자 */
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.10);
}

[class*="shadow-box-"]>.row {
    margin: 0 -8px;
    align-items: center;
}

[class*="shadow-box-"]>.row>div {
    padding: 0 8px;
    flex-grow: 0;
    white-space: nowrap;
    display: flex;
}
.capsule-box {
	/* border-radius: 6px; */
	/* overflow: hidden; */
}

.capsule-box>.row {margin:0;flex-flow: nowrap;}

.capsule-box>.row>div {
	text-align: center;
	border: 1px solid var(--black);
	line-height:1.5;
	font-size: 14px;
	color: var(--black);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-right: 0;
	min-height: 32px;
	padding: 0 16px;
	font-weight: 600;
}
.capsule-box>.row>div>*{
	color:inherit;
	font-size:inherit;
}
.capsule-box>.row>div:first-child{
	border-radius: 6px 0 0 6px;
}
.capsule-box>.row>div:last-child{
	border-radius: 0 6px 6px 0;
	border-left:0;
	border-right: 1px solid var(--black);
}
.capsule-box>.row>div.active,.capsule-box>.row>div:hover {
	background-color: var(--black);
	color: #fff;
	border-color:var(--black);
	cursor:pointer;
}

.capsule-box>.row>div.active {}

.autocomplet {
    position: absolute;
    top: 45px;
    width: 100%;
    left: 0;
    border-radius:8px;
    border: 1px solid var(--Elements-Line);
	/* 카드 그림자 01/hover */
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.10);
    background: #fff;
    display: none;
}
.autocomplet.trans{
    display: block;
}
.autocomplet>.top {
    padding: 16px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--Elements-Line);
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 15px */
}
.autocomplet>.top>span {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 14px */
}
.autocomplet>ul {
    padding: 16px;
}
.autocomplet>ul>li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.autocomplet>ul>li:last-child{margin-bottom:0}
.autocomplet>ul>li>p {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 14px */
}
.autocomplet>ul>li>p>i {
    border-radius: 999px;
    background: var(--gray-gray, #A6A9B9);
    display: inline-block;
    padding: 2.5px;
    color: #fff;
    font-size: 11px;
    margin-right: 4px;
}
.autocomplet>ul>li>span {
    color: var(--gray);
    text-align: center;
/* 13px/100/13라이트 */
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 13px */
    display: flex;
    align-items: center;
}
.autocomplet>ul>li>span>i {
    font-size: inherit;
    color: inherit;
}
.autocomplet>.bottom {
    padding: 16px;
    border-top: 1px solid var(--Elements-Line);
    background: #F5F5F5;
    text-align: right;
}
.autocomplet>.bottom>a {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 14px */
}
/*mobile animation*/
.animation-box{
    display: block;
    position: relative;
    height: 100%;
    width: 60px;
}
.animation-box .menu,
.animation-box .menu::before,
.animation-box .menu::after {
    background: #9FB1BD;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
    margin: 0;
}

.animation-box:hover .menu,
.animation-box:hover .menu::before,
.animation-box:hover .menu::after {
    background: var(--primary);
}
.animation-box .menu {
    left: 18px;
    top: 27px;
}
.animation-box .menu::before {
    top: -6px;
}
.animation-box .menu::after {
    top: 6px;
}
.animation-box.trans .menu {
    background: transparent;
}
.animation-box.trans .menu::before {
    transform: rotate(45deg);
}
.animation-box.trans .menu::after {
    transform: rotate(-45deg);
}
.animation-box.trans .menu::before,
.animation-box.trans .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}

/**/

/*intro-box*/
.intro-box{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-image: url('../images/intro.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: auto;
}
.intro-box:before{
	content:"";
	background-image: url('../images/intrologo.svg');
	position: absolute;
	right: 0;
	bottom: 0;
	width: 521px;
	height: 519px;
}
.intro-box>.content{
    padding: 71px 0;
    margin: 0;
    box-sizing: border-box;
    height: auto;
    text-align: center;
    width: 1246px;
    margin: auto;
    /* overflow: auto; */
    /* height: 100%; */
}
.intro-box>.content>*{
}
.intro-box>.content>img{
    height: 59px;
    margin-bottom: 32px;
}
.intro-box>.content>div{
    margin-bottom: 32px;
    border-radius: 24px;
    border: 1px solid #FFF;
    background: linear-gradient(109deg, rgba(255, 255, 255, 0.48) -0.56%, rgba(255, 255, 255, 0.24) 109.05%);
    box-shadow: 0px 4px 35px 4px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(20px);
    padding: 16px;
    line-height: 1;
    font-size: 0;
    height: calc(100% - 91px - 75px - 78px);
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 700px;
}
.intro-box>.content>div>img{/* width: auto; *//* position: absolute; *//* width: calc(100% - 32px); *//* left: 50%; *//* top: 50%; *//* transform: translate(-50%,-50%); */height: 100%;}
.intro-box>.content>div>button{
	border-radius: 999px;
	border: 1px solid rgba(255, 255, 255, 0.74);
	background: rgba(35, 35, 35, 0.50);
	backdrop-filter: blur(7.5px);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 38px;
	color: #fff;
	width: 72px;
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.intro-box>.content>button{
    border-radius: 999px;
    padding: 12px 24px;
    border: 0;
    background: var(--primary);
    color: #fff;
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}
.intro-box>.content>button>*{color:inherit}
.intro-box>.content>span{
	font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 16.8px */
}
/*grid-box-1*/
[class*="grid-box-"]{}
[class*="grid-box-"]>.row{margin:-8px;}
[class*="grid-box-"]>.row>div{padding:8px;}
/*//*/
/*tab-box*/
.tab-box {}
.tab-box>div {
    overflow: visible;
    max-height:0px;
    box-shadow: none;
    border: 0;
    display: none;
}
.tab-box>div.on{
    display:block;
    padding:32px;
    padding:16px;
    max-height: 100000px;
    transition: max-height 0.5s;
    border: 1px solid #B7B9C5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px
}
.tab-box.only-ver>div.on{
    box-shadow: none;
    border-radius:0;
}
/*//*/