.dashboard-box {
    background: var(--DarkMode01);
    height: calc(100% - 112px);
    height: 904px;
}

.dashboard-box>.row {margin: 0;height: 100%;}
.dashboard-box>.row>div {
    padding: 0 8px;
   
}
[class*="shadow-box-"] {
	border: 1px solid #BBBDCA;
	/* ì¹´ë“œ ê·¸ë¦¼ìž 01/ê¸°ë³¸ */
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.dashboard-box>.row>div [class*="content-"]{padding:24px; border-radius:16px; height:100%;}
.dashboard-box .content-1{
    background: #F3F5F7;
    position: relative;
    overflow: hidden;
    padding: 32px 24px;
}
.dashboard-box .content-1 .bg1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.dashboard-box .content-1 .top{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 32px;
}
.dashboard-box .content-1 .top>i{
    background: var(--primary-t10);
    border-radius: 999px;
    width: 114px;
    height: 114px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 67px;
    margin-bottom: 24px;
}
.dashboard-box .content-1 .top>.txt1{
    font-weight: 600;
    font-size: 24px;
}
.dashboard-box .content-1 .top>.txt2{
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 24px;
    border-bottom: 0.5px solid var(--black);
    margin-bottom: 24px;
}
.dashboard-box .content-1 .top>.box{
    padding-top: 9.5px;
    padding-bottom: 32.5px;
    border-bottom: 0.5px solid var(--black);
}
.dashboard-box .content-1 .top>.box>.txt1{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 33px;
}
.dashboard-box .content-1 .top>.box>.row{
    margin: 0 -8px;
}
.dashboard-box .content-1 .top>.box>.row>div{
    padding: 0 8px;
}
.dashboard-box .content-1 .bottom{
    position: relative;
    z-index: 1;
    text-align: center;
}
.dashboard-box .content-1 .bottom>.box{}
.dashboard-box .content-1 .bottom>.box>.txt1{
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 16px;
}
.dashboard-box .content-1 .bottom>.box>.row{
    margin: -8px;
}
.dashboard-box .content-1 .bottom>.box>.row>div{
    padding: 8px;
}

[class*="iconboxs-"]{
    position: relative;
    padding: 32px 20px;
    padding-bottom: 8px;
    background: #fff;
}
[class*="iconboxs-"] i{
    width: 36px;
    height: 36px;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    display: flex;
    margin: auto;
    position: absolute;
    border-radius: 999px;
    left: 50%;
    transform: translateX(-50%);
    top: -18px;
    box-shadow: 0px 8px 16px rgba(108, 93, 211, 0.26);
}
[class*="iconboxs-"] .txt1{
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
}
[class*="iconboxs-"] .txt2{
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
}
.iconboxs-2{
    padding: 8px 24px;
}
.iconboxs-2 i{
    position: static;
    transform: none;
    margin-bottom: 8px;
}
.iconboxs-2 .txt1{}
.iconboxs-2 .txt2{
    font-weight: 300;
    font-size: 12px;
    white-space: nowrap;
}
.dashboard-box .content-2{
    background: #EDF0FD;
    position: relative;
    height: 100%;
}
.dashboard-box .content-3{
    background-color: #fff;
    position: relative;
    overflow: hidden;
    background-image: url('/resources/user/img/bg1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.dashboard-box .content-2>.tit1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
}

.dashboard-box .content-2 .img1 {
    width: 488px;
    display: block;
    margin: auto;
}

.dashboard-box .content-2 .img2 {
    margin-right: 4px;
}
.dashboard-box .content-2 .floatingbox {
    position: absolute;
    right: 24px;
    height: 289px;
    width: 191px;
    bottom: 24px;

/* White/White */
    background: #FFFFFF;
/* ì¹´ë“œ ê·¸ë¦¼ìž 01/hover */
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px 16px;
}
.dashboard-box .content-2 .floatingbox>.top{
    padding: 16px 0;
    margin: 0;
    border-bottom: 1px solid #B7B9C5;
    margin-bottom: 4px;
    /* align-items: center; */
}
.dashboard-box .content-2 .floatingbox>.top>div{padding:0;line-height: 1;}
.dashboard-box .content-2 .floatingbox .list{
    padding: 8px 0;
}
.dashboard-box .content-2 .floatingbox .list>li{
    padding: 8px 16px;
    margin-bottom: 4px;
/* Primary/Primary 5% */
    background: #fff;
    border-radius: 999px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}
.dashboard-box .content-2 .floatingbox .list>li:hover,
.dashboard-box .content-2 .floatingbox .list>li.active{
    background: var(--primary-t10);
    color: var(--primary);
}
.dashboard-box .content-2>.map {
    text-align: center;
}

.dashboard-box .content-2>.map svg{width: 343px;height: 591px;}

.dashboard-box .content-2>.map svg>g>path {}

.dashboard-box .content-2>.map svg>g>path:hover {
    fill: #FFFAEA;
    transition: all 0.5s;
}
.dashboard-box .content-3>.img1 {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.dashboard-box .content-3>.bg-1{
    height: 702px;
    background: linear-gradient(180deg, rgba(243, 245, 247, 0) 0%, #F3F5F7 28.01%);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -19%;
    z-index: 1;
}
.dashboard-box .content-3 .contentbox {
    position: relative;
    z-index: 10;
    height: 100%;
}
.dashboard-box .content-3 .contentbox .top {
    padding-top: 135px;
}
.dashboard-box .content-3 .contentbox .top>p {
    font-weight: 100;
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 24px;
}
.dashboard-box .content-3 .contentbox .top p span {
    font-weight: 600;
    font-size: 32px;
    color: #000;
    display: block;
}
.dashboard-box .content-3 .contentbox .top>.input-box {
    height: 40px;

/* White/White */
    background: #FFFFFF;
/* Input/Line */
    border: 1px solid var(--Elements-Line);
    border-radius: 8px;
    align-items: center;
    padding: 0 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    margin-bottom: 24px;
}
.dashboard-box .content-3 .contentbox .top>.input-box>div {}
.dashboard-box .content-3 .contentbox .top>.input-box input {
    border: 0;
    background: #fff0;
    line-height: 1;
    width: 100%;
}
.dashboard-box .content-3 .contentbox .top>.input-box i {
    color: var(--Elements-Icon);
    font-size: 16px;
}
.dashboard-box .content-3 .contentbox .list {
    border-top: 1px solid var(--black);
}
.dashboard-box .content-3 .contentbox .paging-box{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.dashboard-box .content-3 .contentbox .list>li {
    padding:8px;
    border-bottom: 1px solid var(--Elements-Line);
    /* background: #fff; */
}
.dashboard-box .content-3 .contentbox .list>li .txt1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 8px;
}
.dashboard-box .content-3 .contentbox .list>li .txt2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 8px;
}
.dashboard-box .content-3 .contentbox .list>li .txt3 {
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
}
.dashboard-box .content-3 .contentbox .list>li .txt3 i{margin-right:5px;color: var(--primary);}
.dashboard-box>.row>div .content-4{
    position: relative;
}
.dashboard-box>.row>div .content-4>.txt1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-top: 169px;
    z-index: 1;
    position: relative;
}
.dashboard-box>.row>div .content-4>img {
    width: 100%;
	height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.dashboard-box>.row>div .content-4>.txt2 {
    position: relative;
    z-index: 1;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    margin-top: 8px;
    margin-bottom: 20px;
}
.dashboard-box>.row>div .content-4>.top {
    position: relative;
    margin-bottom: 12px;
}
.dashboard-box>.row>div .content-4>.top .ele-icon-box {
    padding: 0px 16px;
    border: 2px solid var(--primary);
    border-radius: 999px;
    height: 48px;
}
.dashboard-box>.row>div .content-4>.top .ele-icon-box input {
    height: 100%;
    font-size: 14px;
    line-height: 100%;
/* identical to box height, or 14px */


/* Black/Black */
    color: #191D31;
}
.dashboard-box>.row>div .content-4>.top .ele-icon-box i {
    color: var(--primary);
    font-size: 20px;
}
.dashboard-box>.row>div .content-4>.top .ele-icon-box .dropdown {
    flex-basis: 76px;
    height: 24px;

/* Primary/Primary */
    background: #4762F0;
    border-radius: 999px;
    max-width: 76px;
}
.dashboard-box>.row>div .content-4>.top .ele-icon-box .dropdown>button {
    color: #fff;
    font-size: 12px;
    line-height: 100%;
}
.dashboard-box>.row>div .content-4>.top>.row {
    justify-content: space-between;
    margin-top: 16px;
}
.dashboard-box>.row>div .content-4>.top>.row>div {
    flex-grow: 0;
    white-space: nowrap;
}
.dashboard-box>.row>div .content-4>.top>.row>div>.check-radio-box{}
.dashboard-box>.row>div .content-4>.top>.row>div>.check-radio-box label{
    font-size: 15px;
    line-height: 1;
}
.dashboard-box>.row>div .content-4>.top>.row>div>.check-radio-box label:before{
    font-size: 15px;
}
.dashboard-box>.row>div .content-4>.top>.row>div>.searchword {
    display: flex;
    align-items: center;
}
.dashboard-box>.row>div .content-4>.top>.row>div .searchword>p {
    padding-right: 5px;
    margin-right: 5px;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
}
.dashboard-box>.row>div .content-4>.top>.row>div .searchword>p:after {
    content: "";
    width: 2px;
    height: 14px;

/* Black/Black 20% */
    background: rgba(25, 29, 49, 0.2);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.dashboard-box>.row>div .content-4>.top>.row>div .searchword>span {}
.dashboard-box>.row>div .content-4>.bottom {
	border-radius:8px;
	overflow:hidden;
	border: 1px solid var(--Elements-Line);
	background: #fff;
	position: relative;
}
.dashboard-box>.row>div .content-4>.bottom>.top {
	    position: relative;
	    z-index: 1;
	    padding: 16px;
	    /* width: 416.67px; */
	    /* height: 88px; */

/* Gray/Gray 10% */
	    background: rgba(166, 169, 185, 0.1);
/* Input/Line */
	    border-bottom: 1px solid var(--Elements-Line);
}
.dashboard-box>.row>div .content-4>.bottom>.top>.row {
    margin: 0;
    justify-content: space-between;
}
.dashboard-box>.row>div .content-4>.bottom>.top>.row>div {
    padding: 0;
    flex-grow: 0;
    white-space: nowrap;
}
.dashboard-box>.row>div .content-4>.bottom>.bottom{padding: 24px;}
.dashboard-box>.row>div .content-4>.bottom>.bottom [class*='form-area-box1'] [class*="ele-icon-box"]>input{height: 40px;}
.dashboard-box>.row>div .content-4>.bottom>.bottom>.row{margin: -8px;}
.dashboard-box>.row>div .content-4>.bottom>.bottom>.row>div{padding: 8px;}
.dashboard-box>.row>div .content-4 .btn-special-2{
    border-radius: 999px;
    border: 1px solid var(--gray-gray-light, #BBBDCA);
    background: var(--white-white, #FFF);
    color: var(--DarkMode04-50);
    padding: 0 16px;
    width: 100%;
}
.dashboard-box>.row>div .content-4 .btn-special-2:hover,
.dashboard-box>.row>div .content-4 .btn-special-2.active{
    border-color: var(--primary-t10);
    color: var(--primary);
    background: var(--primary-t10);
}
.dashboard-box>.row>div .content-5{
    padding: 16px;
    background: var(--light-gray-light);
}
.dashboard-box>.row>div .content-5 .top {}

.dashboard-box>.row>div .content-5 .tab-top {
    border-radius: 8px;
    background: var(--unnamed, #E8ECEF);
    height: 48px;
    overflow: hidden;
}
.dashboard-box>.row>div .content-5 .tab-top>.row{height:100%;}
.dashboard-box>.row>div .content-5 .tab-top [class*="tab-tit-"] p{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}
.dashboard-box>.row>div .content-5 .tab-top [class*="tab-tit-"].active p{
    background: var(--primary);
    color: #fff;
    background: var(--100, #3864FF);
}
.dashboard-box>.row>div .content-5 .tab-box {}
.dashboard-box>.row>div .content-5 .tab-box>div{display: none;}
.dashboard-box>.row>div .content-5 .tab-box>div.on{display:block;}
.dashboard-box>.row>div .content-5 .tab-box .box {}

.dashboard-box>.row>div .content-5 .tab-box .box .list {
    padding: 16px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-box>.row>div .content-5 .tab-box .box .list.active {background: var(--primary-t5);}
.dashboard-box>.row>div .content-5 .tab-box .box .list .txt1 {font: var(--XL-semibold-line-1);}
.dashboard-box>.row>div .content-5 .tab-box .box .list .txt2 {font: var(--R-light-line-13);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;}
.dashboard-box>.row>div .content-5 .tab-box .box .list.active .txt1{
    color: var(--primary);
}
.dashboard-box>.row>div .content-5 .tab-box .box .list .txt3 {
    font: var(--R-light-line-1);
    display: flex;
    align-items: center;
}
.dashboard-box>.row>div .content-5 .tab-box .box .list .txt3>i{
    font-size: 20px;
    color: var(--primary);
}
.dashboard-box>.row>div .content-5 .tab-box .box .bottom {
    padding-top: 16px;
    border-top: 1px solid var(--input-line, #B7B9C5);
    text-align: center;
}
.dashboard-box>.row>div .content-5 .tab-box .box .bottom .paging-box{padding:0;margin:0;display: flex;justify-content: center;}
.dashboard-box>.row>div .content-5 .tab-box .box>.row {
    margin: -8px;
}

.dashboard-box>.row>div .content-5 .tab-box .box>.row>div {
    padding: 8px;
}

.dashboard-box>.row>div .content-5 .tab-box .box>.row>div.list-detail {
    display: none;
}

.dashboard-box>.row>div .content-5 .tab-box .box .list-detail {}

.dashboard-box>.row>div .content-5 .tab-box .box .list-detail .top {}

.dashboard-box>.row>div .content-5 .tab-box .box .list-detail .txt {
    height: 396px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 18.2px */
}
.dashboard-box>.row>div .content-5 .listbox-1+.bottom {
    padding-top: 8px; 
    text-align: center;
}
.dashboard-box>.row>div .content-5 .listbox-1+.bottom .paging-box{padding:0;margin:0;display: flex;justify-content: center;}
/*//*/